#movie-backdrop {
    width: 100%;
}

#container {
    padding-top: 32px;
    /* display: grid;
    grid-template-columns: repeat(1fr, 3);
    grid-template-rows: auto; */
}

#actors {
    margin: 24px 16px 0 0;
}

img{
    border-radius: 20px;
}
#movie-backdrop{
   align-self: baseline;
}

/* #movieSectionDiv{
    align-items: center;
} */

img#logo{
    width: 15%;
}

.bi-github {
    color: black;
  }